[
    {
        "name": "git"
    },
    {
        "name": "ack"
    },
    {
        "name": "powerlevel9k"
    },
    {
        "name": "ruby"
    },
    {
        "name": "rbenv"
    },
    {
        "name": "tmux"
    },
    {
        "name": "elixir"
    },
    {
        "name": "vim"
    }
]
